@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	text-decoration: none;
	outline: none;
	border: none;
	font-family: Roboto, Times, serif;
}

/* ================================================== */
/* 		NAVBAR SECTION 								  */
/* ================================================== */

header {
	background-color: #1F2937;
	height: 60px;
}

.navbar {	
	display: flex;
	justify-content: center;
	padding-top: 15px;
	gap: 850px;		
}

	.logo {
		color: #f9faf8;
		font-size: 24px;		
	}

	.menu {
		color: #e5e7eb;
		font-size: 18px;
		gap: 2rem;
		display: flex;
		align-items: flex-end;
	}
		a:visited {
			color: #e5e7eb;
		}