@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	text-decoration: none;
	outline: none;
	border: none;
	font-family: Roboto, Times, serif;
}

.navbar {
	background-color: #1F2937;
	color: #FFFF;
}

